<header class="container-fluid h-10 mt-2">
    <nav class="navbar bg-light container-fluid h-100">
        <div class="container-fluid d-flex justify-content-center align-items-center h-100 w-75">
            <div class="input-group mb-3">
                <input id="video-link" type="text" class="form-control" placeholder="YouTube link" aria-label="YouTube link">
                <div class="input-group-append">
                    <button id="video-link-button" class="btn btn-outline-secondary" type="button">Open</button>
                </div>
            </div>
        </div>
    </nav>
</header>
